*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(7, 18, 24);
    color: white;
}


h1 {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 2em;
}

.scoreboard {
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
}

.player {
    flex: 1;
    overflow: hidden;
    border: 0.2em solid white;
    border-radius: 1em;
    margin: 1em;
    margin-top: 0.5em;
    padding-top: 1em;
}

input {
    background: none;
    border: 0.05em solid white;
    border-radius: 0.1em;
    font-size: 2rem;
    width: 60%;
    aspect-ratio: 6 / 1;
    max-height: 50px;;
    display: inline-flex;
    flex-grow: 1;
    text-align: center;
    overflow:scroll;
    font-size: 3vh;
}

button {
    display: inline-flex;
    max-width: 50px;
    width: 10%;
    aspect-ratio: 1;
    vertical-align:bottom;
    justify-content: center;
    cursor: pointer;
    background: white;
    color: black;
    border: none;
    border-radius: 0.25em;
    font-size: 1vw;
}

img {
    width: 100%;
    max-width: 40px;
    aspect-ratio: 1;
    margin: 5px;
    background: white;
}

.score {
    font-size: 10rem;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}

.color {
    display: inline-flex;
    max-width: 50px;
    height:unset;
    width: 10%;
    aspect-ratio: 1;
    vertical-align:bottom;
    justify-content: center;
    cursor: pointer;
    border: none;
    overflow: hidden;
}

#gameboard {
    margin: auto;
    display: grid;
    aspect-ratio: 1;
    width: 60%;
    max-width: 500px;
    cursor: pointer;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    font-size: 5rem;
    border: 0.1px solid rgb(255, 255, 255);
}

#cell0 {
    border-top: none;
    border-left: none;
}

#cell1 {
    border-top: none;
}

#cell2 {
    border-top: none;
    border-right: none;
}

#cell3 {
    border-left: none;
}

#cell5 {
    border-right: none;
}

#cell6 {
    border-bottom: none;
    border-left: none;
}

#cell7 {
    border-bottom: none;
}

#cell8 {
    border-bottom: none;
    border-right: none;
}

#info {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.3em;
}

.attribution {
    text-align: center;
    margin-top: 0.6em;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 0.5em white;
}

@media screen and (max-width: 470px) {
    .cell {
        font-size: 3em;
    }

    input {
        font-size: 2vh;
    }
}

