*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(7, 18, 24);
    color: white;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 2em;
}

.scoreboard {
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
}

.player {
    flex: 1;
    overflow: hidden;
    border: 0.2em solid white;
    border-radius: 1em;
    margin: 1em;
    margin-top: 0.5em;
    padding-top: 1em;
}

input {
    background: none;
    border: 0.05em solid white;
    border-radius: 0.1em;
    font-size: 2rem;
    width: 60%;
    height: 50px;
    display: inline-flex;
    flex-grow: 1;
    text-align: center;
    overflow:scroll;
    font-size: 3vh;
}

button {
    display: inline-flex;
    max-width: 50px;
    width: 20%;
    aspect-ratio: 1;
    vertical-align:bottom;
    justify-content: center;
    cursor: pointer;
    background: white;
    color: black;
    border: none;
    border-radius: 0.25em;
    font-size: 1rem;
    box-shadow: 0 0 0.25em white;
}

img {
    width: 100%;
    max-width: 40px;
    aspect-ratio: 1;
    margin: 5px;
    background: white;
}

.buttonText {
    position: relative;
    top: 30%;
    background: none;
    color: rgb(7, 18, 24);
    font-weight: bold;
}

.glowGreen {
    background: rgb(2, 240, 2);
    box-shadow: 0 0 1em rgb(2, 240, 2);
}

.glowOrange {
    background: rgb(211, 121, 3);
    box-shadow: 0 0 1em rgb(211, 121, 3);
}

.glowRed {
    background: rgb(240, 2, 2);
    box-shadow: 0 0 1em rgb(240, 2, 2);
}

.score {
    font-size: 10rem;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}

.color {
    display: inline-flex;
    max-width: 50px;
    height:unset;
    max-width: 50px;
    width: 20%;
    aspect-ratio: 1;
    vertical-align:bottom;
    justify-content: center;
    cursor: pointer;
    border: none;
    overflow: hidden;
}

#gameboard {
    margin: auto;
    display: grid;
    aspect-ratio: 1;
    width: 60%;
    max-width: 500px;
    cursor: pointer;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    font-size: 5rem;
    border: 0.1px solid rgb(255, 255, 255);
}

#cell0 {
    border-top: none;
    border-left: none;
}

#cell1 {
    border-top: none;
}

#cell2 {
    border-top: none;
    border-right: none;
}

#cell3 {
    border-left: none;
}

#cell5 {
    border-right: none;
}

#cell6 {
    border-bottom: none;
    border-left: none;
}

#cell7 {
    border-bottom: none;
}

#cell8 {
    border-bottom: none;
    border-right: none;
}

#info {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.3em;
}

.attribution {
    text-align: center;
    margin-top: 0.6em;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 0.5em white;
}


@media screen and (max-width: 900px) {
    input {
        margin: auto;
        margin-top: 5px;
        display: flex;
        font-size: 2vh;
        height: 30px;
    }

    .score {
        font-size: 8rem;
    }
    
}

@media screen and (max-width: 630px) {
    .cell {
        font-size: 3em;
    }

    .score {
        font-size: 6rem;
    }

    .buttonText {
        font-size: 0.9rem;
    }
    
}

@media screen and (max-width: 500px) {
    .buttonText {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 450px) {
    .buttonText {
        font-size: 0.6rem;
    }
}

